<!DOCTYPE html>
<html>
    <head>
      <title>Diligen Tech Challenge</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
      <link rel="stylesheet" href="/main.css">
    </head>
    <body class="center">
      <div id="error-container">
        <div class="error-main">
          404 Not Found
        </div>
        <div class="error-text">
          It seems as though the sorting hat cannot determine your house.
        </div>
      </div>
    </body>
</html>